<ion-view title="Tentang" id="page19" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="tentang-list8" class=" ">
            <ion-item class="item-divider " id="tentang-list-item-divider1">Tentang Poltekpos</ion-item>
        </ion-list>
        <p id="alamat-markdown15" style="margin-top:0px;color:#000000;" class=" ">Kampus Politeknik Pos Indonesia Jl. Sari Asih No. 54 Bandung 40151</p>
        <div class="">
            <img src="img/zPmvKQ9AQ2q1ak1ANzHR_login.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="tab.dash" id="tentang-button23" style="font-weight:lighter;font-size:-11px;" class=" button button-calm  button-block ">Back</a>
    </ion-content>
</ion-view>